#stats{
    display: none;
    border: 1px solid;
    width: 170px;
    padding: 15px;
    background-color: #92d0fc;
 }

 .member{
    border: 1px solid;
    padding: 10px;
    width: 100px;
    margin: 20px;
    background-color: #92d0fc;
  }

body{
    background-color: #FBFBE4;
}

h2{
    color: #3c5aa6;
    background-color: #ffcb05;
    font-size: 40px;
    padding: 40px;
    width: 60%;
    border: 1px solid;
}

button{
    background-color: #3c5aa6;
    cursor: pointer;
    border: none;
    transition-duration: 1s;
    padding: 5px;
    color: white;
}

button:hover{
    background-color: #ffcb05;
    color: black;
}

h4{
    font-size: 24px;
    font-family: arial;
}

p{
    font-family: arial;
    
}
.modal-team{
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.2);
    left: 0;
    top: 0;
    overflow: auto;
  }

.modal-team-content{
    background-color: white;
    margin: auto;
    padding: 25px;
    border: 1px solid black;
    width: 80%;
  }

.close{
    float: right;
    }
.close:hover{
    cursor: pointer;
    color: lightgray;
  }